<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bsharp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="styles/main.css"rel="stylesheet">

</head>

<body class="content nav nav-pills container mt-5">
    <button class="no-wrap" style="align-self: flex-start; width: 200px; background: linear-gradient( #571a13, #170305); "
        id="theme-toggle" onclick="toggleTheme()">Darktheme</button>

    <div class="poster">
        <div class="container">
            <div class="logo" id="logo">
                <img class="motivation-img" onclick="toggleMenu()" src="images/top8.jpg" />
            </div>
            <div class="sidebar" id="sidebar">
                <ul>
                    <li> <button onclick="openPageLeden()">Leden</button></a></li>
                    <li> <button onclick="openPageBoek()">Boek-ons</button></a></li>
                    <li> <button onclick="openPageBezoekers()">Bezoekers</button></a></li>
                    <li> <button onclick="openPageHome()">Home</button></a></li>
                </ul>
            </div>
        </div>
        <br /> <br />
        <img class="motivation-img" src="images/greop.jpg" />


    <ul>
    <% users.forEach(function(user) { %>
      <li> <img src="<%= user.lid_afbeelding1 %>"><%= user.lid_nr %>: <%= user.lid_vnaam %> <%= user.lid_anaam %><%= user.lid_email %><%= user.lid_gsm %><%= user.lid_straat %><%= user.lid_postode%><%= user.lid_woonplaats %><%= user.lid_geboortedatum %><%= user.lid_sinds_datum %><%= user.lid_rek_nr %><%= user.lid_instrument %><%= user.lid_helper %></li>
    <% }); %>
  </ul>

 
        
    </div>

    
  


    






    <script src="scripts/buttonLeden.js"></script>


</body>

</html>
